[alias]

    ### LOG ###

    # short log
    slog = log --oneline -10

    # graph log
    glog = log --graph --decorate --oneline --abbrev-commit

    # specific file log
    flog = log --follow

    ### DIFF ###

    # diff working tree and last commit
    dh = diff head

    # show compact diff
    dstat = diff --stat

    # show colour diff
    dcol = diff --color-words

    ### STAGING & COMMITS ###

    # unstage all staged changes
    ra = restore --staged .

    # commit with msg
    c = commit -m
